<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录首页</title>
<link rel="stylesheet" type="text/css" href="/css/login.css" />
<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
	<div id="loginDiv">
		<h1>登录首页</h1>
		<input type="text" name="username" id="username" /><br /> <input
			type="password" name="userpwd" id="userpwd" /><br />
		<button id="submitBtn">登&nbsp;&nbsp;录</button>
	</div>
</body>
</html>